  <%= form_with model: @flights, url: flights_path, method: :get, local: true do |f| %>

    <%= f.label :departure_airport_id %>
    <br>
    <%= f.select :departure_airport_id, @flights.airport_options, prompt: true %>
    <br><br>
    <%= f.label :arrival_airport_id %>
    <br>
    <%= f.select :arrival_airport_id, @flights.airport_options, prompt: true %>
    <br><br>
    <%= f.label :passenger_count, "Number of Passengers" %>
    <br>
    <%= f.select :passenger_count, (1..4), prompt: true %>
    <br><br>
    <%= f.label :start_date, "Departure Date" %>
    <br>
    <%= f.select :start_date, @flight_dates, prompt: true %>

    <br><br>
    <%= f.submit "Search", name: :search%>
  <% end %>



  <% if false %>
      <% if @flights.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@flights.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @flights.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% end %>