
<h4><%= pluralize(@flights.length, 'flight') %> matched your search</h4>
  <%= form_with url: 'bookings/new/', method: :get, local: true do |ff| %>
    <% ff.label :passenger_count %>
    <%= ff.hidden_field :passenger_count %>
      <% @flights.each do |f|  %>
        <tr>
        <% ff.label :flight_id %>
          <td><%= ff.radio_button :flight_id, f.id %></td>
          <td><%= f.start_time.strftime("%d/%m/%Y") %></td>
          <td><%= f.start_time.strftime("%l:%M%P") %></td>
          <td><%= f.departure_airport.name %></td>
          <td><%= f.arrival_airport.name %></td>
        </tr>
      <% end %>
    <%= ff.submit %>
  <% end %>
