<p>Params <%= p params %></p>

<div class="page-container d-flex flex-column w100 align-items-center">
  <div class="title"><h1>Flight Search</h1></div>

  <div class="container page-notices">
    <p id='notice' style="color: green"><%= notice %></p>
    <p id='alert' style="color: red"><%= alert %></p>

  </div>

  <div class="container index-container">

    <div class="search-form d-flex flex-column border w-100 p-3 rounded align-self-center">
      <%= render 'search_form', flight: @flight %>
    </div>

    <div class="container index-list">
      <div class="search-result-text">

        <div class="container page-notices p-3">
          <% if params[:flight] %>
            <h4><%= pluralize(@flights.length, 'flight')%> matched your search</h4>
            <div><%= link_to "New Search", root_path %></div>
          <% end %>
        </div>
        <div class="title"><h2>Available flights:</h2></div>
      </div>
      
      <div class="flight-container p-3">
        <table class="table table-striped">
          <thead>
            <tr>
            <% if params[:passenger_count] && !params[:passenger_count].empty?  %>
              <th scope="col">Select Flight</th>
            <% end%>
              <th scope="col">Departure Date</th>
              <th scope="col">Departure Time</th>
              <th scope="col">Departure Airport</th>
              <th scope="col">Arrival Airport</th>
            </tr>
          </thead>
          <tbody>
            <% if params[:passenger_count] && !params[:passenger_count].empty?  %>
              <%= render '/bookings/new_booking' %>
            <% else %>
              <% @flights.each do |flight|  %>
                <tr scope = "row" ><%= render flight %></tr>
                <% end %>
            <% end %>
              
          </tbody>
        </table>
      </div>

    </div>
  </div>

</div>