<%# <%= form_with model: [@booking, @booking.passengers.build] do |form| %> %>

<%= form_for @booking do |f| %>
  <% f.label :flight_id %>
  <%= f.hidden_field :flight_id, value: params[:flight_id] %>

  <%# <% params[:passenger_count].to_i.times do %>

    <%= f.fields_for :passengers do |ff| %>
      <h4>Passenger</h4>
      <p>
        <%= ff.label :name %>
        <%= ff.text_field :name %>
      </p>
      <p>
        <%= ff.label :email %>
        <%= ff.text_field :email %>
      </p>
    <% end %>

  <%# <% end %> %>

  <p><%= f.submit %></p>
<% end %>