<%# <%= form_with model: [@booking, @booking.passengers.build] do |form| %> %>

<%= form_for @booking, local: true do |f| %>
  <% f.label :flight_id %>
  <%= f.hidden_field :flight_id, value: params[:flight_id] %>

    <% i = 1 %>
    <%= f.fields_for :passengers do |ff| %>
      <h4>Passenger <%="#{i}"%></h4>
      <p>
        <%= ff.label :name %>
        <%= ff.text_field :name %>
      </p>
      <p>
        <%= ff.label :email %>
        <%= ff.text_field :email %>
      </p>
      <% i += 1%>
    <% end %>
    
  <p><%= f.submit %></p>
<% end %>