  <%= form_with model: @booking, local: true do |f| %>
    
    <div class="field">
      <% f.label :flight_id %>
      <%= f.hidden_field :flight_id, value: params[:flight_id] %>
    </div>

    <div data-controller="nested-form">

      <template data-nested-form-target="template", data-nested-field-selector-value='.nested-fields'>
        <%= f.fields_for :passengers, Passenger.new, child_index: 'NEW_RECORD' do |ff| %>
          <%= render "passenger_form", ff: ff %>
        <% end %>
      </template>

      <%= f.fields_for :passengers do |ff| %>
        <%= render "passenger_form", ff: ff %>
      <% end %>

      <div class= "p-3" data-nested-form-target="target">
        <button class = "btn btn-outline-primary " type="button" data-action="nested-form#add">Add Another Passenger</button>
      </div>

    </div>

    <div class = "actions  p-3">
      <%= f.submit class: "btn btn-primary " %>
    </div>

  <% end %>