<div class=" ">

  <div class="passenger mb-3">
      <%= ff.label :name , class: "form-label"%>
      <%= ff.text_field :name, class: "form-control" %>
  </div>

  <div class="passenger mb-3">
      <%= ff.label :email, class: "form-label" %>
      <%= ff.text_field :email, class: "form-control" %>
  </div>

  <div data-nested-form-target = "hideable"> 
    <button type="button" data-action="nested-form#remove_association" class="btn btn-outline-primary">Remove this Passenger</button>
  </div>

  <%= ff.hidden_field :_destroy %>

</div>