<h1>Bookings#create</h1>

  <p id='notice' style="color: green"><%= notice %></p>
  <p id='alert' style="color: green"><%= alert %></p>


<hr>
<h1>New Booking</h1>

  <h2>Flight Info</h2>
    <tr><%= render "flights/flight", flight: @booking.flight %></tr>
    <table>

    </table>
    <hr>
  <h2>Passenger Info</h2>

    <%= render "form" %>


<%= link_to 'Back', bookings_path %>

<hr>

<%# <p>Params:</p><%= p params %>  %>
<%# <p>@booking_params</p><%= p @booking_params %> %>
<%# <p>Pax</p><%= p params[:passenger_count].to_i %> %>
<%# <p>Flight</p><%= p @flight %> %>

  <%# <% if @booking.errors.any? %> %>
    <%# <div id="error_explanation"> %>
      <%# <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this post from being saved:</h2> %>

      <ul>
      <%# <% @booking.errors.full_messages.each do |msg| %> %>
        <%# <li><%= msg %></li> %>
      <%# <% end %> %>
      <%# </ul> %>
    <%# </div> %>
  <%# <% end %> %>