<h1>Bookings#show</h1>
  <p id='notice' style="color: green"><%= notice %></p>
  <p id='alert' style="color: green"><%= alert %></p>

<%= p @booking %>

<div class="table">
  <h2>Flight Information:</h2>
    <thead></thead>
    <tbody>
      <tr scope = "row" ><%= render 'flights/flight', flight: @booking.flight %></tr>
    </tbody>
</div>





<div class="d-flex flex-column w100 align-items-center index-container">
  <div class="title"><h1>Bookings</h1></div>

  <div class="page-notices">
    <p id='notice' style="color: green"><%= notice %></p>
    <p id='alert' style="color: green"><%= alert %></p>
  </div>
  <hr>
  <div class="index-container">
    <div class="index-list">
      <table class="table table-striped">
        <h2>Booking</h2>
        <thead>
          <th scope="col">Booking Reference</th>
          <th scope="col">Departure Date</th>
          <th scope="col">Flight Number</th>
          <th scope="col">Number of passengers</th>
        </thead>
        <tbody>
          <tr scope="row">
            <%= render @booking %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    <div class="passenger-container">
    <div class="index-list">
      <table class="table table-striped">
        <h2>Passengers</h2>
        <thead>
          <th scope="col"></th>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
        </thead>
        <tbody>
          <% i = 1%>
          <% @booking.passengers.each do |passenger|%>
            
            <tr scope="row">
              <td><%= "Passenger #{i}" %></td>
              <%= render 'layouts/passenger', passenger: passenger %>
            </tr>
            <% i +=1 %>
          <% end%>
        </tbody>
      </table>
    </div>
  </div>

  <div class="nav-buttons">
    <%= link_to "Back to bookings", bookings_path %>
    <%= link_to "Make a new booking", flights_path %>
  </div>

</div>